div.title_header {
    text-align: center;
}

body {
	background-color: lightgrey;
}

h1 {	
    font-family:calibri; 
    font-size: 40px;
}
h2 {	
    font-family:calibri;
    font-size: 28px; 
}

img.mySlides {
    display: none;
}