div.title_header {
    text-align: center;
}

div.maintext {
	margin:auto;
	width:900px;
	text-align:justify;
	font-family:calibri;
}

body {
	background-color: lightgrey;
}

h1 {	
    font-family:calibri; 
    font-size: 40px;
}
h2 {	
    font-family:calibri;
    font-size: 28px; 
}

div.title {
	font-size:28px;
	text-align:center;
	border-bottom:solid;
	height:50px;
}

div.text {
	font-size: 18px;
}

div.table {
	font-size: 18px;
	border-top:solid;
}

th, td {
	padding:5px 33px;
}
	
	
img.mySlides {
    display: none;
}