div.title_header {
    text-align: center;
}

div.maintext {
	margin:auto;
	width:900px;
	text-align:justify;
	font-family:calibri;
}

body {
	background-color: lightgrey;
}

h1 {	
    font-family:calibri; 
    font-size: 40px;
}
h2 {	
    font-family:calibri;
    font-size: 28px; 
}

h3 {
	font-family:calibri;
	font-size:30px;
}

div.title {
	font-size:28px;
	text-align:center;
	border-bottom:solid;
	height:50px;
}

div.text {
	font-size: 18px;
}

div.table {
	font-size: 18px;
	border-top:solid;
}

th, td {
	padding:5px 25px;
}
	
img.mySlides {
    display: block;
}

div.galerie {
	margin:auto;
	width:900px;
	margin-top:10px;
}

div.galerie image {
	position: relative;
	display: none;
}

div.buttons {
	position: absolute;
	padding-top: 270px;
	width: 100%;
}

div.buttons button {
	width: 40px;
	height: 40px;
	background: grey;
	padding: 0px;
	font-size: 20px;
	text-align: center;
	border-width: 0px;
}

div.buttons button:hover {
	background: #8FBC8F;
}

button.right {
	margin-left: 816px;
}
